body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%
}

body, html, ul, li {
  margin: 0;
  padding: 0
}

ul, li {
  list-style: none;
}

#root {
  width: 100%;
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-full {
  width: 100%
}

.h-full {
  height: 100%;
}

.wh-full {
  width: 100%;
  height: 100%
}

.flex {
  display: flex
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.title {
  font-size: 36px;
  color: #262626
}

.text-center {
  text-align: center
}

.mt40 {
  margin-top: 40px
}

.mr40 {
  margin-right: 40px
}

.ft24 {
  font-size: 24px!important;
}

.pointer {
  cursor: pointer;
}

.display-none {
  display: none;
}